@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

main {
    max-width: 650px;
    margin: 60px auto;
    text-align: center;
}

h1 {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 45px;
    margin: 20px 0 10px 0;
}

h1 span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

h2 {
    color: hsl(209, 33%, 12%);
    font-weight: 300;
}

form {
    margin-top: 20px;
}

input {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    padding: 15px 25px;
    width: 425px;
    max-width: 100%;
}

input::placeholder {
    color: hsl(0, 0%, 59%);
}

button {
    background-color: hsl(223, 87%, 63%);
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 5px hsl(223, 100%, 88%);
    color: #ffffff;
    cursor: pointer;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 60px;
    margin-left: 20px;
}

button:hover {
    opacity: 0.8;
}

.illustration {
    max-width: 100%;
    margin: 20px 0;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(223, 87%, 63%);
    list-style-type: none;
}

.social-list li {
    margin: 10px;
}

.social-list li a {
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50%;
    color: hsl(223, 87%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}

.social-list li a:hover {
    background-color: hsl(223, 87%, 63%);
    color: #ffffff;
    border-color: hsl(223, 87%, 63%);
}

footer p {
    color: hsl(0, 0%, 59%);
}

@media (max-width: 768px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 15px;
    }

    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    input {
        width: 300px;
        max-width: 100%;
        margin: 0 38px 20px;
        padding: 10px 25px;
    }

    button {
        width: 300px;
        max-width: 100%;
        margin: 0 38px 20px;
        padding: 10px 60px;
    }
}